{% extends "../base.html" %} {% block titulo %} Usuarios del sistema {% endblock %} {% block contenido_principal %}
<h2>Usuarios del sistema </h2>

<div class="table-responsive">
    <form  class="form-horizontal" method="post" action="/usuario/delete">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Eliminar Seleccionados</button>
            </div>
        </div>
        <table class="table table-hover">
         <thead>
            <tr>
                <th>Email</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th class="col-md-1"></th>
            </tr>
         </thead>
            <tbody>
            {% for usuario in users %}
            <tr>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellidos }}</td>
                <td>
                    <input type="checkbox" name={{usuario.email}}
                           class="checkbox" id="idChecked" value={{usuario.email}}>
                </td>
            </tr>
            {% endfor %}
         </tbody>
        </table>
    </form>
</div>

{% endblock %}