{% extends "base.html" %} {% block titulo %} Usuarios del sistema {% endblock %} {% block contenido_principal %}
<h2>Usuarios del sistema </h2>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Email</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellidos }}</td>
                <td>
                    <a href="/user/delete/{{ usuario._id.toString() }} ">Eliminar</a> <br>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}