{% extends "../base.html" %} {% block titulo %} Comprar Ofertas {% endblock %} {% block contenido_principal %}
<h2>Comprar Ofertas </h2>

<!-- Agregar Usuario -->
<div class="row">
    <div id="custom-search-input ">
        <form method="get" action="/tienda">
            <div class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                <input type="text" class="search-query form-control" placeholder="Buscar oferta" name="busqueda" />
                <span class="input-group-btn">
                    <button class="btn" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            {% for offer in offers %}
            <tr>
                <td>{{ offer.title }}</td>
                <td>{{ offer.description }}</td>
                <td>{{ offer.price }}</td>
                <td>
                    <a href="/offer/buy/{{ offer._id.toString() }} ">Comprar</a> <br>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}